.display.none {
    display: none;
}

.display.block {
    display: block!important;
}

.login.logo {
    margin-top: 5rem;
    height: 150px!important;
}

input.invalid {
    border: 1px solid red!important;
}

input.valid {
    border: 1px solid green!important;
}

.admin.menu {
    margin-left: 1rem!important;
}

.no.margin {
    margin: 0;
}

.admin.content {
    padding-right: 1.5rem!important;
}

.center.align{
    text-align: center;
}